	<meta property="og:title" content="Interactive Shell">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Unix-like shell where you can find information about my background, skills, work experience, photos and more.">
	<meta property="og:image" content="http://i.imgur.com/WtWMfFD.png">
	<meta property="og:url" content="http://steiner.website/shell/">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@JerkoSteiner">
    <meta name="twitter:creator" content="@JerkoSteiner">
    <meta property="og:url" content="http://steiner.website/shell/">
    <meta property="og:title" content="Interactive Shell">
    <meta property="og:description" content="Unix-like shell where you can find information about my background, skills, work experience, photos and more.">
    <meta property="og:image" content="http://i.imgur.com/WtWMfFD.png">