<!DOCTYPE html>
<html>

<head>
	<title>interactive shell</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.gif">
	<link rel="stylesheet" type="text/css" href="{{contextRoot}}style.css">
</head>

<body>
	<!-- <div id="photo-viewer" class="hidden" tabindex="-1"></div> -->

	<div class="console">
		<div id="console-output" class="pre"></div>

		<div id="console-input">
			<span>
				<span id="input-prefix"></span><span>&nbsp;</span>
			</span>
			<form id="input-form">
				<input type="text" id="input" autocomplete="off" autofocus>
				<input type="submit" class="hidden-submit">
			</form>
		</div>
	</div>

	<div id="ui" class="ui">
	</div>

	<script src="{{contextRoot}}client.js"></script>
</body>
</html>
