@import url('fonts.css');

.nowrap {
	white-space: nowrap;
}

.pre {
	white-space: pre-wrap;
}

#console-input {
	display: table;
}


#console-input #input-prefix {
	width: 0.001%;
	display: table-cell;
}

#console-input #input-form {
	display: table-cell;
	width: 100%;
}

#console-input #input-form #input {
	width: 100%;
}

#console-input #input-form .hidden-submit {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	left: -9999px;
}

body {
	background-color: #222;
}

body * {
	font-family: 'fsex300-webfont';
	/*background-color: #222;*/
	color: lime;
	font-size: 16px;
}

p.error {
	color: red;
}

input {
	border: none;
	background-color: #222;
}

input:focus {
	border: none;
	outline: none;
}

p, input {
	margin: 0;
	padding: 0;
}

img.gallery {
	/*padding: 	1em 1em 0em 0em;*/
	/*border: 0.3em solid lime;*/
	border: 0.3em solid #555;
	margin: 0.5em 0.5em 0em 0em;
	background-color: black;
	width: 90px;
	height: 90px;
	cursor: pointer;
}

img.gallery:hover,
img.gallery:focus {
	border-color: lime;
}

#photo-viewer {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-color: #333;
	background-color: rgba(51, 51, 51, 0.5);
	text-align: center;
	padding: 2em;
}

#photo-viewer .photo-viewer-nav {
	/*background-color: #000;*/
	/*background-color: rgba(0, 0, 0, 0.3);*/
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 8px;
}

#photo-viewer .photo-viewer-nav a {
	text-decoration: none;
}

#photo-viewer .photo-viewer-nav a:hover {
	text-decoration: underline;
}

#photo-viewer .photo-viewer-nav .nav-left {
	margin-right: 1em;
}

#photo-viewer .photo-viewer-nav .nav-right {
	margin-left: 1em;
}

#photo-viewer img {
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0 0 2em black;
}