@import url('fonts.css');

.nowrap {
	white-space: nowrap;
}

.pre {
	white-space: pre-wrap;
}

#console-input {
	display: table;
}


#console-input #input-prefix {
	width: 0.001%;
	display: table-cell;
}

#console-input #input-form {
	display: table-cell;
	width: 100%;
}

#console-input #input-form #input {
	width: 100%;
}

#console-input #input-form .hidden-submit {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	left: -9999px;
}

body {
	background-color: #222;
}

body * {
	font-family: 'fsex300-webfont';
	background-color: #222;
	color: lime;
	font-size: 16px;
}

p.error {
	color: red;
}

input {
	border: none;
}

input:focus {
	border: none;
	outline: none;
}

p, input {
	margin: 0;
	padding: 0;
}

img {
	/*padding: 	1em 1em 0em 0em;*/
	border: 0.3em solid lime;
	margin: 0.5em 0.5em 0em 0em;
	background-color: black;
	width: 300px;
	height: 200px;
}